body{
font-family: serif;
font-size: 20pt;
background-color:green;
background-repeat: no-repeat;
background-size: cover;
  
}
h2{
  color: goldenrod;
}
button{
  background-color:navy;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;

}
fieldset{
     border: 1px solid #CCA383; 
     width: 400px; 
     background: #FFE8EF;
      padding: 3px;
   
}
    form-group{
      flex-direction: column;
    }